@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.hero-box, .hero-box-1{
	background-image: url( "img/home1.jpg");
   background-size:cover;
   background-position: center;
   height:100vh;
   display:flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   padding:0 20px;
   text-align:center;


}
.hero-title, .hero-title-1{
	font-family: "system-ui","Helvetica Neue", sans-serif;
	font-size: 30px;
	line-height:70px;
	vertical-align: baseline;
	letter-spacing:-1.28px;
	word-spacing:0px;
	font-style:normal;
	font-variant:normal;
	text-transform:none;
	text-decoration:none solid rgb(255, 255, 255);
	color:#ffffff;
}
.btn-1, .btn-2{
	padding:10px 30px;
	background-color:#E51D55;
	border: none;
	border-radius: 6px;
	color:#ffffff;
	letter-spacing:1.0px;
	cursor: pointer;

}
.btn-1:hover{
	background-color: #ffffff;
	color:#E51D55;
}
.body-section, .body-section-1{
	width:100%;
   flex-direction: column;
   justify-content:center;
   align-items:center;
}
.middle-heading, .middle-heading-1{
	text-align: center;
	padding:10px;
	margin:10px;
	font-family: Circular, -apple-system, "system-ui", Roboto, "Helvetica Neue", sans-serif;
	font-size: 50px;
	vertical-align: baseline;
	letter-spacing:-1.28px;
	word-spacing:0px;
	font-style:normal;
	font-variant:normal;

}
.col-3{
		

	width: 100%;
	background-color: #FFFFFF;
	display: flex;
   flex-direction: row;
   justify-content:center;
	
}
.img-row{
		width: 25%;
		text-align: center;
		float: left;
		margin-top: 35px;
}
.col-3, .img-row{
	margin: 8px;
	
	
}
.body-section-1{
	
}
.middle-heading-1{
	letter-spacing:0.1px;
	padding: 90px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}
.comment-1{
	text-align: justify;
	font-size:30px;
	font-weight: 300;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}
.para-2{
	font-size:20px;
	font-weight: 100;

	width:500px;
	text-align: justify;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 20px 0 0 40px;
	
}
.hero-box-1{
	/*change img*/
	
}
.hero-title-1{
	font-weight: 200;
	font-family: sans-serif;
	
}
.btn-2{
	background-color: #ffffff;
	color:#000000;
	padding:10px;
	width:200px;
	margin:10px 0;
	border: 1px solid;
	
}
.btn-2:hover{
	background-color:#000000;
	color: #ffffff;
}
.footer-box{
	display: flex;
	flex-direction: row;
   justify-content:center;
}
.footer-section{
	max-width:1171px;
	max-height:756px;
	display: flex;
	flex-direction: row;
   justify-content:center;
	align-items: center;
	background: #F7F7F7;

}
.left-side{
	display: flex;
	flex-direction: column;
   justify-content:flex-start;
	align-content: center;

	margin:57px 48px;
	width:500px;
	height:400px;
	padding:0px 32px 0px 80px;
}
.ending-heading{
	font-size:70px;
	font-family: "system-ui", "Helvetica Neue", sans-serif;
	letter-spacing:normal;
	word-spacing:0px;
}
.span{
	color:#FF385C;
}
.middle{
	display: flex;
   justify-content:flex-start ;
	margin:40px 0px 50px;
	font-size: 25px;
	font-weight: 100;
}
.right-side{
	max-width: 400px;
	
}
.img-right{

	width:100%;
	float:right;
	
}
.centerbox{
	display:flex;
	justify-content: center;
	align-content: center;
}
.footer-body{
	display:flex;
	font-family: "system-ui","Helvetica Neue", sans-serif;
	
	word-spacing:1px;
	line-height:18px;
	margin: 0px -12px;
	padding: 48px 0;
}
.section1{
	padding: 0 25px;
}

.h5{
	font-size:18px;
	font-weight: 500;
	padding-bottom: 10px;
	color: #222222;
}
.ul{
	list-style: none;
	
}
.li{
	padding: 10px 0;
	font-weight: 300;
	font-size:14px;
}
.li:hover{
	text-decoration: underline;
	cursor:pointer;
}












/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
	color:#000000;
	
}
/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
	color:#000000;
}

/* Extra styles for the cancel button */
.cancelbtn {
  

	font-size:20px;
	background-color: #ffffff;
	color:#000000;
	padding:10px;
	width:200px;
	margin:10px ;
	border: 1px solid;
	border-radius: 3px;
}
.signupbtn{

	font-size:20px;
	background-color: #ffffff;
	color:#000000;
	padding:10px;
	width:200px;
	margin:10px;
	border: 1px solid;
	border-radius: 3px;
	
	
}
.cancelbtn:hover, .signupbtn:hover{
	background-color:#000000;
	color: #ffffff;
	border-radius: 3px;
}



/* Add padding to container elements */
.container {
  padding: 16px;
	color:#000000;
	font-family: "system-ui", "Helvetica Neue", sans-serif;
	
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #AFB0A2;
	
  padding-top: 50px;
	
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	
}
/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 30px;
  font-weight: 100;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.clearfix{
	padding:10px;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  
	
}
.para-3{
	font-size: 10px;
	font-weight: 100;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
